@model TPLOCAL1.Models.FormModel

<h2>Votre formulaire a été pris en compte</h2>

Nom : @Model.Nom= "Portman"
<br />
Prénom : @Model.Prenom= "Nathalie"
<br />
Genre : @Model.Genre= "Femme"
<br />
Code Postal : @Model.CodePostal="90111"
<br />
Email : @Model.Email="faux@email.com"
<br />
Date : @Model.DateFormation.ToString("dd/MM/yyyy")="08/12/2020"
<br />
Formation : @Model.TypeFormation="C#"
<br />
Formation Cobol : @Model.AvisCobol= "juste parfait et sans erreurs"
<br />
Formation C# : @Model.AvisCSharp= "excellente"
<